@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-manrope text-[74px] text-dark font-bold leading-[85px] capitalize tracking-[-0.02em] mb-[30px] xl:text-[48px] xl:leading-[64px] xl:mb-[20px];
  }
  p {
    @apply font-manrope font-light  text-[19px] leading-[44px] tracking-[0.02em]  text-dark-100;
  }
  .sub-title {
    @apply flex text-[18px] tracking-[0.2em] uppercase text-dark mb-[40px] xl:mb-[20px];
  }
  h2 {
    @apply text-[52px] font-bold leading-[75px] tracking-[-0.02em] text-dark font-manrope md:text-[32px] md:leading-[45px];
  }
}

@media (max-width: 1536px) {
  .hero {
    background-size: auto, 50%;
  }
}
@media (max-width: 1023px) {
  .hero {
    background-size: auto, 100%;
    background-position: left top, bottom center !important;
  }
}
